*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid black;
}
body{
    height: 100vh;
    background: rgb(7,143,137);
    background: linear-gradient(180deg, rgba(7,143,137,1) 20%, rgba(213,219,217,1) 20%);
    
}
.lista-group{
    list-style-type: none;
}



.container-80{
    width: 80%;
    margin: 0 auto;   
}


.box-1{
    background-color: white;
    margin-top:60px;
    height: 90vh;
    

}
.img-icon{
    width: 70px;
    margin: 5px;
    border-radius: 50%;
}
i{
    font-size: 25px;
    
}
.color-light-blue{
    background-color: #8edafc;
}



.background-chat{
    height: calc(90vh - 82px);
    background-image: url(/img/mine.jpg);
    background-size: cover;
    
}




