*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid black;
}
#app{
    height: 100vh;
    width: 100%;
    background: rgb(7,143,137);
    background: linear-gradient(180deg, rgba(7,143,137,1) 20%, rgba(213,219,217,1) 20%);
    
}
.lista-group{
    list-style-type: none;
}



.container-80{
    width: 80%;
    margin: 0 auto; 
    padding-top: 20px;
    

}
.container-me, .container-notifica{
    height: 80px;
}
.container-search{
    height: 80px;
    
}


.container{
    background-color: white;
    
}
.img-icon{
    width: 70px;
    margin: 5px;
    border-radius: 50%;
}
i{
    font-size: 25px;
    
}
.color-light-blue{
    background-color: #8edafc;
}



.background-chat{
    
    background-image: url(/img/mine.jpg);
    background-size: cover;
    
}

.container-contatti{
    overflow-y: auto;
    height: calc(100vh - 230px);
}

.container-message{
    height: calc(100vh - 140px);
    width: 100%;
    padding: 5% 10%;
    background-image: url(/img/mine.jpg);
    overflow-y: auto;

}


.footer{
     
}

.messaggio-testo{
    position: relative;
    margin: 5px 0 ;
    padding:18px;
    min-width: 40%;
    max-width: 60%;
    background: #fff;
    border-radius: 10px;
    font-size: 10px;
}
.messaggio-testo.sent{
    background-color: #D5F9BA;
    float: right;
    clear: both;

}
.messaggio-testo.received{
    background-color: #fff;
    float: left;
    clear: both;

}



